html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
  color: #333;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

  
}

.main-header {
  position: fixed;
  width: 100%;
  padding: 16px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #87CBAC;
  z-index: 10;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navigation__list--article {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.navigation__item {
  margin-left: 30px;
}

.navigation__link, .about__link, .section__link, .footer__link {
  color: #87CBAC;
  text-decoration: none;
}

.navigation__link--main-color {
  color: #ffffff;
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  padding-top: 50px;
}

.main__header {
  color: #697268;
  font-size: 40px;
  margin-bottom: 60px;
}

.about {
  width: 100%;
  position: relative;
}

.about__header, .diary__header {
  color: #5B85AA;
  font-size: 30px;
}

.about__paragraph, .section__paragraph {
  padding: 16px;
}

.about__picture {
  width: 100%;
  max-width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin: 0 20px 10px 0;
  border-radius: 50%;
}

.diary {
  clear: both;
}

.diary__header {
  font-size: 25px;
  padding: 50px 0;
  text-align: center;
}

.section {
  padding: 16px;
  margin-bottom: 40px;
  background: rgba(138, 138, 106, 0.2);
  border-radius: 10px;
  border-left: 3px solid #87CBAC;

  max-width: 300px;
}

.section__header {
  color: rgb(54, 126, 150);
  font-size: 20px;
  margin-bottom: 16px;
}

.section__paragraph {
  line-height: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.article__header {
  color: lightslategrey;
  font-size: 30px;
  margin-bottom: 40px;
}

.article__paragraph {
  padding-left: 10px;
  font-style: italic;
  margin-bottom: 30px;
  border-left: 2px solid lightslategrey;
}

.article__strong {
  color: lightslategrey;
}

.article__picture {
  border-top-left-radius: 40px;
  padding-bottom: 10px;
}

.article__footer {
  font-style: italic;
  font-weight: bold;
}



.box, .boxTest {
  width: 100px;
  height: 100px;
  background: cornflowerblue;
  padding: 10px;
  border: 10px solid salmon;
  box-sizing: border-box;
  position: absolute;
  right: 50%;
  top: 10px;
}

.footer {
  width: 100%;
  color: #ffffff;
  padding: 16px;
  display: flex;
  justify-content: center;
  background: #87CBAC;
}

.footer__link--top {
  position: fixed;
  bottom: 60px;
  right: 10px;
  text-decoration: none;
  color: #87CBAC;
  border-right: 2px solid #87CBAC;
  padding: 5px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}