body {
  background: #fefefe;
  color: #333;
}

.navigation {
  position: fixed;
  width: 100%;
  padding: 16px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 10;
}

.navigation__link, .about__link, .section__link, .footer__link {
  color: #87CBAC;
  text-decoration: none;
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  padding-top: 50px;
}

.main__header {
  color: #697268;
  font-size: 40px;
  margin-bottom: 38px;
}

.about {
  width: 100%;
  /* height: 100px; */
  /* overflow: scroll; */
  position: relative;
}

.about__header, .diary__header {
  color: #5B85AA;
  font-size: 30px;
}

.about__paragraph, .section__paragraph {
  padding: 16px;
  /* overflow: hidden; */
}

.about__picture {
  width: 100%;
  max-width: 200px;
  height: 200px;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}

.diary {
  clear: both;
}

.diary__header {
  font-size: 25px;
  padding-top: 40px;
}

.section {
  padding: 16px;
}

.section__header {
  color: rgb(54, 126, 150);
  font-size: 20px;
  margin-bottom: 16px;
}

.section__header--hobbies {
  color: #5E8C61;
}

.section__paragraph {
  line-height: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.box, .boxTest {
  width: 100px;
  height: 100px;
  background: cornflowerblue;
  padding: 10px;
  border: 10px solid salmon;
  /* margin: 10px; */
  box-sizing: border-box;
  position: absolute;
  right: 50%;
  top: 10px;
}

.box {
  z-index: 2;
  position: sticky;
}

.boxTest {
  right: 40%;
  top: 30px;
  background: chocolate;
}

.footer {
  width: 100%;
  max-width: 750px;
  margin: 30px auto;
  color: #046865;
}

.footer__link--top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #87CBAC;
}