body {
  background: #fefefe;
  color: #333;
}
.mainHeader {
  color: #697268;
  font-size: 40px;
}
.sectionHeader, .diaryHeader {
  color: #5B85AA;
  font-size: 30px;
}

.diaryHeader {
  font-size: 25px;
}

.subSectionHeader {
  color: rgb(54, 126, 150);
}

.link {
  color: #87CBAC;
  text-decoration: none;
}
